debian/linux-firmware-*/
debian/files
debian/.debhelper/
debian/debhelper-build-stamp
debian/*.substvars
generated-firmwares/
dist/
release/
contrib/*.db
contrib/*.txt

# Normal intermediate files
*.orig
*.patch
*.rej
.gitlab-ci.yml
.pre-commit-config.yaml
.editorconfig


